#viewDiv {
    padding: 0; 
    margin: 0; 
    height: 100%; 
    width: 100%;
}

.navbar {
    border-radius:0px;
    position: relative;
    z-index: 10000;
}

.navbar-nav > li{
    margin-left:15px;
    margin-right:15px;
  }

/* html, 
body {
    margin: 5px;
    width: 100%;
    height: 100%;
} */

.sidebar {
    grid-area: sidebar;
    padding: 20px;
}

.timebar {
    grid-area: timebar;
    background-color: bg-dark;
    padding: 20px;
}

.content {
    grid-area: content;
}

.wrapper {
    display: grid;
    grid-template-columns: 28% auto;
    grid-template-rows: auto 72px;
    grid-template-areas:
        "sidebar content"
        "sidebar timebar";
    width: 100%;
    max-width: 100vw;
    height: 94%; 
    max-height: 100vh;
}

.box {
    color: #fff;
    font-size: 150%;
}

input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

select {
    margin-bottom: 10px;
    margin-top: 10px;
  }

h4 {
    color : black;
    font-size: 1em;
}

h2 {
    color : black;
    font-size: 0.875em;
}

p {
    font-size: 0.775em;
}

p.shifted {
    margin-left: 20px;
}

[id*="flat-slider"].ui-slider, [id*="flat-slider"].ui-slider .ui-slider-pip .ui-slider-line {
    background: #7e8c9f;
}
[id*="flat-slider"].ui-slider .ui-slider-handle .ui-slider-tip:after {
    border-left-color: #434d5a;
}
