table {
    width:100%;
    font-size: 12px;
    padding: 20;
}
.expend_chart {
    width: 100%;
    max-height: 40%;
    overflow: auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    /* max-height: 40%; */
    overflow: auto;
}
th, td {
    padding: 15px;
    text-align: left;
}
table tr:nth-child(even) {
    background-color: #555;
}
table tr:nth-child(odd) {
    background-color: #233;
}
table th {
    background-color: black;
    color: white;
}

.CellWithComment{
    /* position:relative; */
    display: inline;
} 

.CellComment-wrapper {
    position: absolute;
    visibility: hidden;
  }

.CellComment
{
    display: block;
    position: relative;
    width: 500px;
    max-height: 500px;
    z-index:70000;
    color: #FFFFFF;
    background: #000000;
    border: 1px solid white;
    text-align: center;
    border-radius: 8px;
    overflow: auto;
}

.CellComment:after {
    content: '';
    position: absolute;
      bottom: 100%;
      left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-bottom: 8px solid #000000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }

.CellWithComment:hover .CellComment-wrapper {
    visibility: visible; 
    opacity: 1; 
}