{% extends 'page_layout.html' %}

{% block title %} Country Detailed View {% endblock %}

{% block header %}
    
{{ hdr_txt  }}

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

<script>

    function newtimerange(start_time, end_time){
        console.log(start_time, end_time);

        $.ajax({
            url: "/data/" + window.location.href.split('data/')[1],
            type: 'POST',
            data: JSON.stringify({
                "start": start_time,
                "end": end_time,
                "status": 'timeline'
            }),
            contentType: 'application/json', 
            success: function(result, textStatus, jqXHR) {
                console.log("Details loading for new time range");
                document.write(result);
                document.close();
            },
        });
    }

    function filter(){
        var start_time = $("#flat-slider").slider("values")[0];
        var end_time = $("#flat-slider").slider("values")[1];

        $.ajax({
            url: "/data/" + window.location.href.split('data/')[1],
            type: 'POST',
            data: JSON.stringify({
                "start": start_time,
                "end": end_time,
                "status": 'query',
                "keyword_search": document.getElementById('search-term').value, 
                "expenditure_type": document.getElementById('expenditure-type').value, 
                "donor_name": document.getElementById('donor').value, 
                "ci_status": document.getElementById('ci-status').value, 
                "wealthy": document.getElementById('wealthy').value, 
                "religion": document.getElementById('religion').value
            }),
            contentType: 'application/json', 
            success: function(result, textStatus, jqXHR) {
                console.log("Details loading for new filter");
                document.write(result);
                document.close();
            },
        });
    }

</script>
<script>
    function cb(selection){
        console.log(selection);
        $.ajax({
            dataType: 'JSON', 
            url:"/load_graph",
            type: 'POST', 
            data: JSON.stringify({ 'country': {{country_details.country_id}}, 'graph': selection}),
            contentType: 'application/json', 
            success: function (result) {
                console.log("Data Returned");
                console.log(result);
                Plotly.newPlot('chart',result,{});
            },
            error: function (result) {
                console.log("No graph available.");
                document.getElementById("chart").innerHTML = "";
            }
        });
    }

</script>


{% endblock %}
    
{% block javascript %} 

<script>

    // establishes generic timeline data 
    var timeline_details = {
        max : {{timeline[-1]}},
        min : {{timeline[0]}},
        starting_values : [{{ timeline_start[0]}} , {{timeline_start[1]}}],
        labels : {{timeline}}
    };

    // document.getElementById("start-timeline").setAttribute("value", {{timeline_start[0]}}); 
    // document.getElementById("end-timeline").setAttribute("value", {{timeline_start[1]}}); 
    
</script>
<script src='../static/js/button.js'></script>
<script src='../static/js/slider.js'></script>
<script src="../static/js/leaflet-tag-filter-button.js"></script>

<script> 
{{ script_txt }} 
</script>


{% endblock %}

{% block sidebar %} 


<body>
        
    <h2>{{country_details.country}}</h2>

    <div>
        <SELECT type="text" id="immigration" class="btn btn-sm btn-dark" onchange="cb(this.value)">
            <OPTION value="expend" selected>Financial Expenditures</option>
            <OPTION value="chinese_immigration" >Chinese Immigration</option>
            <OPTION value="us_immigration">US Immigration</option>
        </SELECT>
    </div>

    <div id='chart' class='chart'></div>

    <table id="t01">
        <tr>
            <td>BRI Partner</td>
            <td>{{country_details.bri_partner}}</td>
        </tr>
        <tr>
            <td>Least Developed Country</td>
            <td>{{country_details.ldc}}</td>
        </tr>
        <tr>
            <td>Landlocked</td>
            <td>{{country_details.landlocked_dc}}</td>
        </tr>
    </table>

    <hr> 

    <h2>Country Level Projects</h2>

    <div class='expend_chart'>
        <table id='country_level_projects'>
            {% for name in expend_titles %}
                <tr>
                    <td style="background-color: {{name[7]}};">.</td>
                    <td class="CellWithComment"> {{ name[0] }}
                        <span class="CellComment-wrapper">
                            <span class= "CellComment">
                                <table style="background-color: white; color: white; font-family: arial; font-size: 12px; padding: 10px;">
                                    <tr> 
                                        <td> Sector </td>
                                        <td> {{ name[2] }} </td>
                                    </tr>
                                    <tr> 
                                        <td> Amount 2017 USD </td>
                                        <td> {{ name[6] }} </td>
                                    </tr>
                                    <tr> 
                                        <td> Scheduled </td>
                                        <td> {{ name[4] }} - {{ name[5] }} </td>
                                    </tr>
                                    <tr> 
                                        <td> Status </td>
                                        <td> {{ name[1] }} </td>
                                    </tr>
                                    <tr> 
                                        <td> Description </td>
                                        <td> {{ name[3] }} </td>
                                    </tr>
                                </table>
                            </span>
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

</body>

<script type="text/javascript">    
    
    var graphs = {{ graphJSON | safe }};
    console.log(graphs);
    Plotly.newPlot('chart', graphs, {});

    document.getElementById('filtering-capability').style.display = 'block';

    // TODO : implement a function to keep the current query values as selected throughout their selection

</script>

{% endblock %}

{% block map %}

{{ map_div }}

{% endblock %}