
<div class = "leaflet-control" aria-haspopup="true">
    <a class="leaflet-control-layers-toggle" href="#" title="interactQuery"></a>
    <section class = "leaflet-control-layers-list">
        <div class = "leaflet_control_layers_seperator"></div>
        <div>
            <p>sladkjf;alsdjfl</p>
        </div>
    </section>
</div>
<!-- <div id = "query_menu">

    <button id = "b" onclick="clickForInteractPopup()"></button>
    <div id = "query_menu_options" display="none">
        <p>this is the interaction</p>
    </div>
</div> -->


