<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://simeydotme.github.io/jQuery-ui-Slider-Pips/dist/css/jqueryui.min.css">
    <link rel="stylesheet" href="https://simeydotme.github.io/jQuery-ui-Slider-Pips/dist/css/jquery-ui-slider-pips.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/tables.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
  
    <!-- Add a TITLE for each additional page for accessibility -->
    <title>{% block title %} {% endblock %}</title>

    <!-- Opportunity to add a HEADER to support any unique style for this page  -->
    {% block header %} {% endblock %}
  </head>
  
  <body> 
    <div class="wrapper">
    <!-- used to create a header, sidebar and main section  -->
      <nav class="box head navbar navbar-expand-md navbar-dark bg-dark mb-0">
        <a class="navbar-brand" href="{{ url_for('world_comparison')}}" style="font-size: 110%;"> Chinese Influence Campaigns </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mr-auto dropdown-menu-dark">
            <li class="nav-item">
              <a class="nav-link" href="https://symposium.ncsu-las.net/influence.html#geospatial">About Us</a>
              <!-- <a class="nav-link" href="{{ url_for('about_us')}}">About Us</a> -->
            </li>
            <li class="nav-item dropdown dropright">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Country
              </a>
              <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                <form class="form-inline">
                  <input id ="country_search" class="form-control bg-dark mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="color: white;"> 
                </form>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav mr-auto dropdown-menu-dark navbar-right">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Export Data
              </a>
              <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                <ul style="color: white;">
                  <li><a href="#" style = "font-size: 150%; color: white;">Export Current Display</a></li> <!-- TODO: make these meaningful -->
                  <li><a href="#" style = "font-size: 150%; color: white;">Export Full Data</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <a href = https://ncsu-las.org target="_blank"><img src="../static/img/LAS_logo_fullcolor.png" alt="LAS Logo" style="max-height: 72px; align-content: left;"></a>
      </nav>

      <div class="box sidebar bg-secondary">
        <!-- use SIDEBAR to specify all comparitive charts, statments, query/export, widgets, etc. -->
        {% block sidebar %} {% endblock %}
      </div>
      <div class="box content" id="official_map">
        <!-- use MAP to program visual map application for dashboard use -->
        {% block map %} {% endblock %}
        <div class="button dark">
          <button>psadflk</button>
        </div>
      </div>
      <div class="box timebar bg-dark">
        <div id="flat-slider"></div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://simeydotme.github.io/jQuery-ui-Slider-Pips/dist/js/jquery-plus-ui.min.js"></script>
    <script src="https://simeydotme.github.io/jQuery-ui-Slider-Pips/dist/js/jquery-ui-slider-pips.js"></script>
    <script> 
    
      (function() {
          var count = document.getElementById('country_search');
          count.addEventListener('keypress', function(event) {
              if (event.keyCode == 13) {
                  event.preventDefault();
                  if (count.value.length > 0) {
                      find_country(count.value);
                  }
              }
          });
      }());

      function find_country(selection){
          console.log(JSON.stringify(selection))
          console.log("Finding country " + selection);

          $.ajax({
              url: "/find_country",
              type: 'POST',
              data: JSON.stringify({
                  "type": "name",
                  "name": selection,
              }),
              contentType: 'application/json', 
              dataType: 'json',
              success: function(result) {
                  console.log("Details loading for: " + result['country']);
                  var c = result['country_id'];

                  nextPage(c);
              },
              error: function(response) {
                  console.log(response)
                  console.log("ERROR");
              }
          });

      }

      function nextPage(country_id) {
              console.log("Loading next page.");
              window.location.href = '/data/' + country_id;
      }

      // ensures that choropleth legends have white text for readability
      document.addEventListener("DOMContentLoaded", function(e) {
        const elem = document.getElementById("legend");
        elem.style.fill = "rgb(255, 255, 255)";
      });

    </script>
    <!-- for custom js, use JAVASCRIPT and embedd your own code -->
    {% block javascript %} {% endblock %}

 </body>
</html>